<div id="header">
  <div id="title-bar">
    <div id="logo">
      <img src="img/clock.png"></img>
    </div>
    <div id="title">
      <h1>Timelapse</h1>
      <h2>a node.js and raspberry pi powered project</h2>
    </div>
  </div>
  <div id="nav">
    <div><a href="/">Home</a></div>
    <div><a href="/projects">Projects</a></div>
  </div>
</div>
