<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div id="latest-image">
            <img src="/images/{{latestImage}}" alt="Latest Image"></img>
            <div>Last Update: {{datetime}}</div>
        </div>
        <div id="timelapse">
            
        </div>
    </body>
</html>