<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Timelapse</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    {{> header}}
    <div id="container">
      <div class="section">
        <div class="section-header">
          Latest Frame
        </div>
        <div class="section-body">
          Last Update: {{datetime}}
          <img src="/images/{{latestImage}}" alt="Latest Image"></img>
        </div>
      </div>
      <div class="section">
        <div class="section-header">
          Timelapse
        </div>
        <div class="section-body">
          Timelapse updated every 30 minutes
          <video id="timelapse-video" src="/media/timelapse.mp4" controls loop></video>
        </div>
      </div>
    </div>

    <footer>
      <p>Eric Julius {{year}}</p>
    </footer>
    {{!-- Libs  --}}
    <script>
      const url = "{{APP_URL}}";
    </script>
  </body>
</html>
