* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
html, body {
  height: 100vh;
}
body {
  width: 75%;
  margin: 0 auto;
  background-color: #eee;
  font-family: sans-serif;
}
#header {
  display: flex;
  flex-direction: column;
}
#title-bar {
  height: 3em;
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
#title-bar > #logo > img {
  display: block;
  max-height: 4em;
  max-width: 100%;
  margin-top: 1em;
}
#title > h1 {
  font-variant: small-caps;
  padding-top: 15px;
  font-size: 2em;
  font-weight: 300;
}
#title > h2 {
  font-variant: small-caps;
  font-size: 1em;
  font-weight: 300;
}
#header > #nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header {
  margin: 0;
}
header>#nav {
  font-variant: small-caps;
  display: flex;
  align-items: center;
  justify-content: center;
}
#nav div {
  padding: 20px 0 25px 0;
  margin: 5px 0 15px 10px;
}
#nav div a {
  color: black;
}
footer {
  display: inline-block;
  height: 2em;
  width: 100%;
  text-align: center;
  left: 0;
  margin: 0 auto;
  margin-top: -2em;
}
#container {
  min-height: 80%;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.section {
  width: 50%;
  margin: 0 15px 0 15px;
}
.section-body {
  width: 100%;
}
.section-body > video, .section-body > img{
  width: 100%;
}

@media (max-width: 500px) {
  #container {
    flex-direction: column;
  }
  .section {
    width: 100%;
    margin: 0 15px 0 15px;
  }
}
